---
layout: default
title: Discuss JEP 411
---
<header>
	<div class="container">
		<div class="column">
			<div>
				<h1 class="editable">Discuss JEP 411</h1>
				<p class="editable">JEP 411 is named "Deprecate the Security Manager for Removal". A non-goal is to provide an alternative.</p>
				<div class="button">
					<a href="#joinus">Discuss Now</a>
				</div>
			</div>
		</div>
		<div class="column">
			<img src="{{ site.baseurl }}/images/sheep.jpg" alt="Sheep">
		</div>
	</div>
</header>

<div class="container">
	<h2 class="editable" style="text-align: center;">Why the Security Manager</h2>

	<ul class="thirds">
		<li>
			<div class="image">{% include icons/site.html icon="population" %}</div>
			<h3 class="editable">Hackers</h3>
			<p class="editable">There is a hacker attack every 39 seconds. </p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="economy" %}</div>
			<h3 class="editable">Long-term impact</h3>
			<p class="editable">66% of businesses attacked by hackers weren’t confident they could recover.</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="conditions" %}</div>
			<h3 class="editable">Security Manager</h3>
			<p class="editable">The Security Manager is part of the of your tools to defend the JVM against hackers.</p>
		</li>
	</ul>
</div>

<div class="container">
	<div class="columns">
		<div>
			<img src="{{ site.baseurl }}/images/sheep2.jpg" alt="Sheep">
		</div>
		<div>
			<h2 class="editable">Our Mission</h2>
			<p class="editable">The JVM offers a lot of capabilities: make network calls, compile code on the fly, run code on the fly, etc. Your application probably doesn't need all of this. Hence, for an attacker, they just represent a welcome attack surface. The Security Manager is the way to apply the least privilege principle to reduce this attack surface via a configuration file. JEP 411 aims to remove the Security Manager with no replacement. Don't be a sheep, fight against the JEP!</p>
		</div>
	</div>
</div>

<div class="container">
	<hr>
	<blockquote>
		<p class="quote editable">The ultimate measure of a sheep is not where he stands in moments of comfort and convenience, but where he stands at times of challenge and controversy.</p>
		<div class="attribute">
			<p class="meta">
				<span class="image"><img class="editable" src="{{ site.baseurl }}/images/wooly.jpg" alt="Wooly"></span>
				<span class="author editable"><strong>Wooly McBaa</strong></span>
			</p>
		</div>
	</blockquote>
</div>

<div class="darker" id="joinus">
	<div class="container">
		<h2 class="editable">Join us</h2>
		<p class="editable" style="text-align: center;">Join our interest group hear the latest news and progress in our fight for the Security Manager.</p>
		<form>
			<a href="https://www.reddit.com/r/jep411/">/r/jep411/</a>
		</form>
	</div>
</div>
<div class="darker">
	<div class="container">
		<h2 class="editable">Updates</h2>
		<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Update</a></p>
		<div class="posts">
			{% for post in site.posts %}
				<div class="post">
					<div class="image" style="background-image: url({{ post.featured_image}})"></div>
					<div class="post-content">
						<p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
						<h3>{{ post.title }}</h3>

						{{ post.content }}
						<p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="btn"><strong>&#9998;</strong> Edit Update</a></p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
