---
layout: default
title: HucklowNet
---
<header>
	<div class="container">
		<div class="column">
			<div>
				<h1 class="editable">HucklowNet</h1>
				<p class="editable">Rural internet connectivity.</p>
			</div>
		</div>
		<div class="column">
			<img src="{{ site.baseurl }}/images/sheep.jpg" alt="Sheep">
		</div>
	</div>
</header>

<div class="container">
	<h2 class="editable" style="text-align: center;">Why rural communities need good broadband</h2>

	<ul class="thirds">
		<li>
			<div class="image">{% include icons/site.html icon="population" %}</div>
			<h3 class="editable">Community</h3>
			<p class="editable">Keeping local communities connected is essential to maintain the sustainability of the area.
			</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="economy" %}</div>
			<h3 class="editable">Economy</h3>
			<p class="editable">Local businesses cannot expand, or even start in the Peak Park without good connectivity.</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="conditions" %}</div>
			<h3 class="editable">Environment</h3>
			<p class="editable">Enabling people to work from home, and to work for business in the local area, reduces carbon
				footprints.</p>
		</li>
	</ul>
</div>

<div class="container">
	<div class="columns">
		<div>
			<img src="{{ site.baseurl }}/images/sheep2.jpg" alt="Sheep">
		</div>
		<div>
			<h2 class="editable">Our Mission</h2>

			<p class="editable">We are focused on providing reliable, superfast, next generation access internet connectivity
				for the Great Hucklow parish.</p>
			<p class="editable">We currently provide fibre connectivity to the villages of Great Hucklow, Grindlow, Abney, and
				Abney Grange.</p>
			<p class="editable">Recently we have connected the local Gliding Club, at the top of Burs Mount.</p>
			<p class="editable">If you live or work in the area please contact us .</p>
		</div>
	</div>
</div>

<div class="container">
	<hr>
	<blockquote>
		<p class="quote editable">We have alabajskjbasjkasf is.</p>
		<div class="attribute">
			<p class="meta">
				<span class="image"><img class="editable" src="{{ site.baseurl }}/images/wooly.jpg" alt="Wooly"></span>
				<span class="author editable"><strong>Wooly McBaa</strong></span>
			</p>
		</div>
	</blockquote>
</div>

<div class="darker">
	<div class="container">
		<h2 class="editable">Join us</h2>
		<p class="editable" style="text-align: center;">Sign up to hear the latest news and progress in our fight for the
			sheep vote.</p>
		<form action="{{ site.newsletter_action }}" method="post">
			<input type="text" name="EMAIL" placeholder="Email">
			<input type="submit" value="Sign up" />
		</form>
	</div>
</div>

<div class="container" id="donate">
	<h2 class="editable">Make a donation</h2>
	<div class="donate">
		{{ site.donation_embed }}
	</div>
</div>

<div class="darker">
	<div class="container">
		<h2 class="editable">Updates</h2>
		<p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Update</a>
		</p>
		<div class="posts">
			{% for post in site.posts %}
			<div class="post">
				<div class="image" style="background-image: url({{ post.featured_image}})"></div>
				<div class="post-content">
					<p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
					<h3>{{ post.title }}</h3>

					{{ post.content }}
					<p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="btn"><strong>&#9998;</strong>
							Edit Update</a></p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>