.container {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	padding: 0 30px;
	box-sizing: border-box;
}

.donate {
	text-align: center;
}

nav .button {
	position: absolute;
	right: 35px;
	top: 4px;
}

.thirds {
	@media #{$desktop} {
		display: flex;
	}
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		width: 100%;
		margin: 50px 0 0 0;
		@media #{$desktop} {
			width: 33%;
			padding: 0 30px;
		}

		text-align: center;

		.image {
			display: inline-block;
		}
		img {
			max-width: 100%;
			height: 90px;

		}
	}
}
blockquote {
	padding: 0;
	margin: 50px 0 0 0;
	position: relative;

	.quote {
		padding: 25px 25px 0 50px;
		border-radius: 5px;
		position: relative;
		font-size: 2em;
		margin: 0;

		&::before {
			content: "\201C";
			font-family: Georgia, serif;

			font-size: 60px;
			font-weight: bold;
			color: #999;

			position: absolute;
			left: 9px;
			top: 23px;
		}
	}

	.meta {
		text-align: right;
		vertical-align: middle;

		.author {
			// position: absolute;
			// top: 0;
			display: inline-block;
			vertical-align: middle;
		}
	}

	.image {
		display: inline-block;
		width: 70px;
		margin: 0 0 0 15px;
		vertical-align: middle;
		img {
			max-width: 100%;
			border-radius: 200px;
		}
	}
}

.newsletter {
	padding: 100px 0;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}

footer {
	background: #000;

	padding: 40px 0;

	&, a {
		color: #8e8e8e;
	}

	a:hover {
		color: #fff;

		svg {
			fill: #fff;
		}
	}

	p {
		margin: 0;
		padding: 0;
	}

	p, address {
		font-size: .9em;
	}

	svg {
		fill: #8e8e8e;
		height: 20px;
		position: relative;
		top: 4px;
	}

	a {
		text-decoration: none;

		svg:hover {
			fill: #fff;
		}
	}

	.container {
		@media #{$desktop} {
			display: flex;
			align-items: center;
		}
		div {
			@media #{$desktop} {
				width: 33%;
				margin: 0;
			}
			margin: 20px 0;
			box-sizing: content-box;
			padding: 0 25px;

		}
	}
}

.learn-more {
	position: absolute;
	left: 0;
	bottom: 30px;
	text-align: center;
	font-size: 1.4em;
	width: 100%;

	a {
		text-decoration: none;
		color: #fff;
		opacity: .9;

		&:hover {
			opacity: 1;
		}
	}
	.arrow {
		font-size: .8em;
		font-size: .4em;
		position: relative;
		top: -2px;
	}
}

.copyright {
	padding: 5px 0;
	margin: 0;
	background: #000;
	text-align: center;
	font-size: .8em;
	a {
		color: #8e8e8e;
		text-decoration: none;

		&:hover {
			color: #fff;
		}
	}
}
.post-title {
	img {
		border-radius: 200px;
		display: inline-block;
		float: left;
		margin: 8px 13px 0 0;
	}

	h3 {
		margin: 0;
	}

	.date {
		padding: 0;
		margin: 0;
		font-size: .8em;
		color: #888;
	}
}

.post + .post {
	margin: 50px 0 0 0;
}

.editor-link {
 	display: none;
	margin-top: 0;
	.btn {
		border: 0;
		border-radius: 2px;
		width: 100%;
		max-width: 500px;
		box-sizing: border-box;
		font-size: 2rem;
		text-decoration: none;
		padding: 10px 15px;
		margin: 0;
		font-size: 18px;
		cursor: pointer;
		background-color: #f7e064;
		color: #333;
		box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);

		&:hover {
			background-color: #f4d525;
			color: #333;
		}
	}

}

.cms-editor-active .editor-link {
	display: block;
}

.mission img {
	float: left;
	margin: 0 20px 0 0;
}
